@page
@model Conflictus.Pages.Upload.CreateModel

<h4>Battle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Battle.Title" class="control-label"></label>
                <input asp-for="Battle.Title" class="form-control" />
                <span asp-validation-for="Battle.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battle.Date" class="control-label"></label>
                <input asp-for="Battle.Date" class="form-control" />
                <span asp-validation-for="Battle.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battle.Summary" class="control-label"></label>
                <input asp-for="Battle.Summary" class="form-control" />
                <span asp-validation-for="Battle.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battle.Type" class="control-label"></label>
                <input asp-for="Battle.Type" class="form-control" />
                <span asp-validation-for="Battle.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battle.ImageUrl" class="control-label"></label>
                <input asp-for="Battle.ImageUrl" class="form-control" />
                <span asp-validation-for="Battle.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battle.Outcome" class="control-label"></label>
                <input asp-for="Battle.Outcome" class="form-control" />
                <span asp-validation-for="Battle.Outcome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battle.Url" class="control-label"></label>
                <input asp-for="Battle.Url" class="form-control" />
                <span asp-validation-for="Battle.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battle.WarId" class="control-label"></label>
                <select asp-for="Battle.WarId" class ="form-control" asp-items="ViewBag.WarId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
