@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');

/*themes*/
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --bg-color-2: #dcdcdc3d;
    --heading-color: #292922;
    /*font-family: 'Open Sans', sans-serif;*/
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --bg-color-2: #2e2e45;
    --heading-color: #818cab;
}

/*General styles*/
body {
    /*background: url(/img/nam_bg.jpg) 0 0 no-repeat;
    background-size: cover;*/
    background-color: var(--bg-color);
    color: var(--font-color);
}

.footer {
    background: white;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    /*color: #0366d6;*/
    color: var(--primary-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;       
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h2 {
    font-family: 'Staatliches', cursive;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem var(--bg-color-2);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/   
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*form styling*/
.bootstrap-tagsinput {
    background-color: var(--bg-color-2) !important;
    color: var(--font-color) !important;
}
.form-control {
    background-color: var(--bg-color-2) !important;
    color: var(--font-color) !important;
}
.btn {
    width: 100%;
}
.dropdown-toggle {
    background-color: var(--bg-color-2) !important;
    color: var(--font-color) !important;
}

.form-title-large {
    font-weight: 600;
}
.form-title-small {
    font-size:.9em;
    font-weight: 400;
}
.location-span {
    font-weight:300;
    color:#666666;
}
.form-coords-check {
    margin-top: 1.5rem;
}
/*.form-summary {
    font-size: .8em;
}*/
.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
    font-size: 12px;
}
/*Battle*/
.battl_part_span {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.battle_part_flag {
    height: 10px;
    width: 16px;
}

/*tables*/
.table {
    background-color: unset !important;
    color: unset !important;
}
.table.dataTable tbody tr {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: var(--bg-color) !important;
    color: var(--font-color) !important;
}
.table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: var(--bg-color-2);
    color: var(--font-color);
}
    .table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd:hover {
        background-color: var(--bg-color) !important;
        color: var(--font-color) !important;
    }

    .table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even:hover {
        background-color: var(--bg-color-2);
        color: var(--font-color);
    }

.table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: var(--bg-color);
    color: var(--font-color);
}
.table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: var(--bg-color-2);
    color: var(--font-color);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    background-color: var(--bg-color) !important;
    color: var(--font-color) !important;
}
    .dataTables_wrapper .dataTables_length select {
        background-color: var(--bg-color-2) !important;
        color: var(--font-color) !important;
    }
    .dataTables_wrapper .dataTables_filter input {
        background-color: var(--bg-color-2) !important;
        color: var(--font-color) !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        color: var(--font-color) !important;
    }

/* War */
.wars {
    
}

.war-link :hover {
    text-decoration: none;
}

.war-card {
    height: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.war-options {
    padding: 5px;
    background: #404040;
    border-radius: 4px;
    width: 145px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.war_image {
    max-width: 600px;
}
.war_url {
    display: flex;
    flex-direction: row-reverse;
}

.war_participants {
    display: flex;
    justify-content: space-evenly;
}
.war_flags {
    height: 14px;
    width: 20px;
}

/*Participants*/
.part_flag {
    height: 24px;
    width: 40px;
}
.bootstrap-tagsinput {
    overflow: hidden;
    border: solid 1px lightgrey;
    border-radius: 4px;
    padding: 7px;
}
.bootstrap-tagsinput input {
    border: none !important;
    outline: none !important;
    color: var(--font-color) !important;
}
.commandertags .label-info {
 background: royalblue;
}
.strengthtags .label-info {
    background: green;
}
.lossestags .label-info {
    background: darkred;
}
.label-info {
    background-color: #5bc0de;
    display: inline-block;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: " x";
    padding: 0px 0 0 4px;
    cursor:pointer;
}


/*change light/dark mode*/
/*map*/
.map_overlay {
    /*height: 100%;*/
    position: absolute;
    /*background: white;*/
    z-index: 999;
}

.bm_head {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-bottom: 20px;
}
.war, .title, .date, .outcome, .flags, .commanders, .strength, .loss {
    text-align:center;
}

.bm_body {
    display: flex;
    margin-bottom: 20px;
}
.bm_body .side_a{
    flex:1;
}
.bm_body .side_b {
    flex: 1;
}


.bm_foot {
    display: flex;
    flex-flow: column;
}
.outcome {    
}
.link {
    align-self: flex-end;
}

/*theme toggle*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    em

{
    margin-left: 10px;
    font-size: 1rem;
}

}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .theme-switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

input:checked + .slider {
    background-color: #66bb6a;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }