@page
@model Conflictus.Pages.Wars.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>War</h4>
<hr />
<div class="container">

    <form method="post">
        <div class="form-group row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="War.Id" />
                <div class="form-group">
                    <label asp-for="War.Name" class="control-label"></label>
                    <input asp-for="War.Name" class="form-control" />
                    <span asp-validation-for="War.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="War.Date" class="control-label"></label>
                    <input asp-for="War.Date" class="form-control" />
                    <span asp-validation-for="War.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="War.Url" class="control-label"></label>
                    <input asp-for="War.Url" class="form-control" />
                    <span asp-validation-for="War.Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="War.ImageUrl" class="control-label"></label>
                    <input asp-for="War.ImageUrl" class="form-control" />
                    <span asp-validation-for="War.ImageUrl" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="War.Summary" class="control-label"></label>                    
                    <textarea style="height: 300px;" asp-for="War.Summary" class="form-control"></textarea>
                    <span asp-validation-for="War.Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
